recursive-include pt_fw_updater/bin *.bin

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
recursive-exclude * .DS_Store
recursive-exclude * .ropeproject
