Source: pt-firmware-updater
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), python3:any
Standards-Version: 3.9.8
Homepage: https://pi-top.com/

Package: pt-firmware-updater
Architecture: armhf
Depends: ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
# Explicitly included, as dh_shlibdeps is overridden
 libc6-dev,
 pt-firmware-images,
 python3-pycrc,
 python3-pyinotify
Description: pi-top Firmware Updater
 This package provides a background service that
 checks the firmware version of attached pi-top devices
 with upgradable firmware, and will either automatically
 update or ask the user to update. Firmware is programmed
 via I2C, and images are provided by pt-firmware-images
 package.
