Source: pt-firmware-updater
Section: utils
Priority: optional
Maintainer: pi-top <deb-maintainers@pi-top.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
Standards-Version: 4.5.1
Homepage: https://pi-top.com/

Package: pt-firmware-updater
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
# 'i2cping' command
 i2c-tools-extra,
 pt-firmware-images,
# Required for 'pt-notify-send', handled by common lib
 pt-notifications,
 python3-pitop,
 python3-pitopcommon,
 python3-pyinotify,
Description: pi-top Firmware Updater
 This package provides a background service that
 checks the firmware version of attached pi-top devices
 with upgradable firmware, and will either automatically
 update or ask the user to update. Firmware is programmed
 via I2C, and images are provided by pt-firmware-images
 package.
