[Unit]
Description=pi-top device firmware updater daemon
Documentation=https://knowledgebase.pi-top.com/knowledge
# Required to determine what type of device
After=pi-topd.service

[Service]
Type=simple
Restart=on-failure
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStart=/usr/bin/pt-firmware-checker --daemon

[Install]
WantedBy=graphical.target
